## Modeling

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#read data from previous part
df = pd.read_csv('data_eda.csv')

In [3]:
df.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,total_grades,total_grade_avg
0,0,0,1,18,1,1,0,4,4,0,...,4,1,1,3,6,5,6,6,17,5.666667
1,1,0,1,17,1,1,1,1,1,0,...,3,1,1,3,4,5,5,6,16,5.333333
2,2,0,1,15,1,0,1,1,1,0,...,2,2,3,3,10,7,8,10,25,8.333333
3,3,0,1,15,1,1,1,4,2,1,...,2,1,1,5,2,15,14,15,44,14.666667
4,4,0,1,16,1,1,1,3,3,2,...,2,1,2,5,4,6,10,10,26,8.666667

In [4]:
df.columns

Index(['Unnamed: 0', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
       'total_grades', 'total_grade_avg'],
      dtype='object')

In [5]:
#Choose relevant columns
#X_train = df[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
       'total_grades']]
#y_train = df['total_grade_avg']

In [18]:
#Normalizing data
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
scalar.fit(df)
norm_df = scalar.transform(df)
nor_df = pd.DataFrame(norm_df, columns = df.columns)

In [19]:
nor_df.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,total_grades,total_grade_avg
0,0.000000,0.0,1.0,0.428571,1.0,1.0,0.0,1.00,1.00,0.00,...,0.75,0.00,0.00,0.5,0.080000,0.1250,0.315789,0.30,0.240741,0.240741
1,0.002538,0.0,1.0,0.285714,1.0,1.0,1.0,0.25,0.25,0.00,...,0.50,0.00,0.00,0.5,0.053333,0.1250,0.263158,0.30,0.222222,0.222222
2,0.005076,0.0,1.0,0.000000,1.0,0.0,1.0,0.25,0.25,0.00,...,0.25,0.25,0.50,0.5,0.133333,0.2500,0.421053,0.50,0.388889,0.388889
3,0.007614,0.0,1.0,0.000000,1.0,1.0,1.0,1.00,0.50,0.25,...,0.25,0.00,0.00,1.0,0.026667,0.7500,0.736842,0.75,0.740741,0.740741
4,0.010152,0.0,1.0,0.142857,1.0,1.0,1.0,0.75,0.75,0.50,...,0.25,0.00,0.25,1.0,0.053333,0.1875,0.526316,0.50,0.407407,0.407407

In [20]:
df_model = nor_df[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
       'total_grades', 'total_grade_avg']]

In [25]:
#Get dummy data
#df_dum = pd.get_dummies(df_model)

In [56]:
#train test split
from sklearn.model_selection import train_test_split
X = df_model[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
       'total_grades']]
y = df_model['total_grade_avg']

X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.2, random_state = 10)

In [57]:
X_train

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,total_grades
266,0.0,0.0,0.285714,1.0,1.0,1.0,0.75,0.25,0.75,0.50,...,0.75,0.75,0.50,0.75,1.00,0.026667,0.3750,0.473684,0.50,0.444444
352,1.0,0.0,0.428571,1.0,0.0,1.0,0.25,0.75,0.00,0.75,...,0.50,0.50,0.25,0.50,0.50,0.093333,0.3125,0.368421,0.40,0.351852
97,0.0,1.0,0.142857,1.0,1.0,1.0,0.50,0.25,0.50,0.50,...,0.50,1.00,0.00,0.00,1.00,0.026667,0.3125,0.473684,0.50,0.425926
167,0.0,1.0,0.142857,1.0,1.0,1.0,1.00,0.50,0.25,0.75,...,0.25,0.50,0.00,0.00,0.50,0.000000,0.6875,0.789474,0.80,0.759259
280,0.0,0.0,0.285714,1.0,0.0,0.0,1.00,0.25,0.75,0.50,...,1.00,0.75,0.25,0.75,1.00,0.400000,0.3125,0.421053,0.40,0.370370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,1.0,1.0,0.428571,0.0,1.0,1.0,1.00,1.00,0.50,1.00,...,0.25,0.25,0.75,0.25,1.00,0.133333,0.6875,0.631579,0.55,0.611111
320,0.0,1.0,0.285714,1.0,1.0,0.0,1.00,0.75,0.75,0.75,...,0.25,0.25,0.00,0.25,1.00,0.306667,0.6250,0.684211,0.65,0.648148
15,0.0,1.0,0.142857,1.0,1.0,1.0,1.00,1.00,0.25,0.50,...,0.75,0.75,0.00,0.25,0.25,0.053333,0.6875,0.736842,0.70,0.703704
125,0.0,0.0,0.000000,1.0,1.0,1.0,0.75,1.00,0.75,0.75,...,1.00,1.00,0.50,0.25,1.00,0.000000,0.6250,0.684211,0.60,0.629630
265,0.0,0.0,0.428571,0.0,0.0,0.0,0.75,1.00,0.50,0.50,...,0.25,1.00,0.50,0.75,0.00,0.173333,0.8750,0.894737,0.85,0.870370

In [58]:
#multiple linear regression
import statsmodels.api as sm

X_sm = X = sm.add_constant(X)
model = sm.OLS(y,X_sm)
model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        total_grade_avg   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 8.242e+29
Date:                Tue, 06 Apr 2021   Prob (F-statistic):               0.00
Time:                        19:29:13   Log-Likelihood:                 13197.
No. Observations:                 395   AIC:                        -2.633e+04
Df Residuals:                     361   BIC:                        -2.619e+04
Df Model:                          33
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.0137   3.98e-16  -3.45e+13      0.000      -0.014      -0.014
school       -4.025e-16   1.48e-16     -2.728      0.007   -6.93e-16   -1.12e-16
sex           1.076e-16   9.47e-17      1.135      0.257   -7.88e-17    2.94e-16
age           8.327e-17   2.79e-16      0.298      0.766   -4.66e-16    6.33e-16
address      -4.857e-17    1.1e-16     -0.442      0.658   -2.64e-16    1.67e-16
famsize       1.618e-16   9.22e-17      1.755      0.080   -1.95e-17    3.43e-16
Pstatus      -3.608e-16   1.36e-16     -2.653      0.008   -6.28e-16   -9.34e-17
Medu         -2.255e-16   2.16e-16     -1.045      0.297    -6.5e-16    1.99e-16
Fedu         -6.939e-18      2e-16     -0.035      0.972      -4e-16    3.87e-16
Mjob                  0   1.55e-16          0      1.000   -3.05e-16    3.05e-16
Fjob         -1.804e-16   1.96e-16     -0.923      0.357   -5.65e-16    2.04e-16
reason        1.527e-16   1.03e-16      1.478      0.140   -5.05e-17    3.56e-16
guardian     -1.839e-16   1.41e-16     -1.302      0.194   -4.62e-16    9.38e-17
traveltime    4.857e-17   1.92e-16      0.253      0.800   -3.29e-16    4.26e-16
studytime     9.021e-17   1.63e-16      0.554      0.580    -2.3e-16     4.1e-16
failures      1.318e-16   1.92e-16      0.688      0.492   -2.45e-16    5.09e-16
schoolsup     3.816e-17    1.3e-16      0.294      0.769   -2.17e-16    2.93e-16
famsup       -2.394e-16   9.12e-17     -2.626      0.009   -4.19e-16   -6.01e-17
paid          7.633e-17   8.97e-17      0.851      0.395      -1e-16    2.53e-16
activities   -1.908e-17   8.39e-17     -0.227      0.820   -1.84e-16    1.46e-16
nursery      -5.829e-16   1.03e-16     -5.640      0.000   -7.86e-16    -3.8e-16
higher        7.633e-17   2.02e-16      0.378      0.705    -3.2e-16    4.73e-16
internet     -9.714e-17   1.16e-16     -0.837      0.403   -3.25e-16    1.31e-16
romantic      2.776e-17   8.95e-17      0.310      0.757   -1.48e-16    2.04e-16
famrel        1.388e-16   1.87e-16      0.741      0.459   -2.29e-16    5.07e-16
freetime      1.665e-16   1.79e-16      0.932      0.352   -1.85e-16    5.18e-16
goout        -3.539e-16   1.71e-16     -2.064      0.040   -6.91e-16   -1.67e-17
Dalc           1.11e-16   2.44e-16      0.455      0.649   -3.69e-16    5.91e-16
Walc          2.914e-16   1.84e-16      1.583      0.114   -7.06e-17    6.53e-16
health        4.233e-16    1.2e-16      3.516      0.000    1.87e-16     6.6e-16
absences      6.661e-16   4.14e-16      1.611      0.108   -1.47e-16    1.48e-15
G1               0.2196      4e-16    5.5e+14      0.000       0.220       0.220
G2               0.2608   5.61e-16   4.65e+14      0.000       0.261       0.261
G3               0.2745   4.35e-16    6.3e+14      0.000       0.275       0.275
total_grades     0.2588   6.26e-17   4.14e+15      0.000       0.259       0.259
==============================================================================
Omnibus:                       19.290   Durbin-Watson:                   0.524
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.336
Skew:                          -0.387   Prob(JB):                     1.16e-06
Kurtosis:                       4.030   Cond. No.                     4.23e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.5e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [63]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import cross_val_score

lm = LinearRegression()
lm.fit(X_train, y_train)

lm.predict(X_test).mean()

0.5276605719643696

In [62]:
lm.score(X_test,y_test)

1.0

In [64]:
#Lasso Regression
lm_l = Lasso(alpha=.1)
lm_l.fit(X_train, y_train)
lm_l.predict(X_test).mean()

0.5171120487576184

In [67]:
lm_l.score(X_test,y_test)

-0.003173274913733648

In [66]:
#random forest
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rf.predict(X_test).mean()

0.5264463197374589

In [68]:
rf.score(X_test,y_test)

0.9988367795882421